.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
    position: sticky;
    top: 0;
    z-index: 10;
}