.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.main-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}