.page {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-secondary);
  font-family: system-ui, sans-serif;
}

.card {
  width: 350px;
  background: var(--card-bg);
  border: 1px solid var(--border-dark);
  border-radius: 20px;
  padding: 32px;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--text-primary);
}

.auth-header {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--text-primary);
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  font-size: 14px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

input::placeholder {
  color: var(--text-secondary);
}

.primary {
  width: 100%;
  padding: 12px;
  margin-top: 16px;
  border-radius: 10px;
  border: 1px solid var(--button-bg);
  background: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
}

.primary:hover {
  opacity: 0.9;
}
